content  {
  -webkit-app-region: no-drag;
  position: absolute;
  background: rgb(255, 255, 255);
  overflow-wrap: break-word;
  padding: 7px 7px 7px 7px;
  bottom: 0;
  overflow: auto;
  top: 0;
  width: 98%;
}

titlebar {
  -webkit-app-region: drag;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 23px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

titlebar i.fa {
  -webkit-app-region: no-drag;
  margin-right: 5px;
  margin-top: 5px;
}

container {
  float: left;
  position: fixed;
  top: 27px;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(99, 99, 99, 0.3);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(99, 99, 99, 0.3);
  border-radius: 5px;
}
