.mdp-window {
  height: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: #000 1px solid;
}

.logo {
  padding-top: 1em;
  padding-bottom: 1.5em;
  text-align: center;
}

titlebar {
  overflow: hidden;
  position: absolute;
  height: 23px;
  left: 16px;
  right: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

titlebar i.fa {
  -webkit-app-region: no-drag;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

titlebar i.markdown-mark {
  background: url('../img/markdown-preview-mark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 18px;
  width: 32px;
  margin-left: 7px;
  margin-top: 3px;
}

titlebar .divider-vertical {
  border-right: #AAA 1px solid;
  width: 1px;
  height: 12px;
  bottom: -12px;
  float: right;
  position: relative;
}

container {
  float: left;
  position: absolute;
  top: 27px;
  bottom: 0;
  right: 16px;
  left: 16px;
  max-width: 980px;
  height: 472px;
}

container:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

content  {
  -webkit-app-region: no-drag;
  position: absolute;
  background: rgb(255, 255, 255);
  overflow-wrap: break-word;
  padding: 7px 7px 7px 7px;
  /* bottom: 6px; */
  overflow: auto;
  /* top: 0px; */
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 99, 99, 0.3);
};
::-webkit-scrollbar-thumb:vertical {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 5px;
}
