titlebar {
  -webkit-app-region: drag;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 23px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

titlebar i.fa {
  -webkit-app-region: no-drag;
  margin-top: 0;
}

titlebar .titlebar-icon-container {
  padding-top: 5px;
  padding-right: 5px;
  height: 20px;
  cursor: pointer;
}

titlebar i.markdown-mark {
  -webkit-app-region: drag;
  background: url('../img/markdown-preview-mark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 18px;
  width: 32px;
  margin-left: 7px;
  margin-top: 3px;
}

titlebar .divider-vertical {
  border-right: #AAA 1px solid;
  width: 1px;
  height: 12px;
  bottom: -12px;
  float: right;
  position: relative;
}

.title-text {
  display: inline-block;
  font-size: 10px;
  padding-top: 5px;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px rgba(33,33,33,0.3);
}

container {
  float: left;
  position: fixed;
  top: 27px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 980px;
}

container:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

content  {
  position: absolute;
  background: rgb(255, 255, 255);
  overflow-wrap: break-word;
  padding: 7px 7px 7px 7px;
  overflow: auto;
  /* width: 100%; */
  height: 100%;
  right: 0px;
  left: 0;
}

content a {
  pointer-events: none;
}

.img-emoji {
  display: inline-block;
  height: 24px;
  width: 24px;
}

rawmodal {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  background: #fff;
  border-radius: 2px;
  height: 300px;
  width: 66%;
  left: 14.5%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  top: -333px;
  opacity: 0;
}

rawmodal[data-open] {
  pointer-events: all;
  top: 0;
  opacity: 1;
}

#compiled_raw {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  border-radius: 2px;
  resize: none;
}

.copy-raw {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #aaa;
  color: #fff;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: #aaa 1px solid;
  width: 48px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.copy-raw:active, .copy-raw:focus {
  outline: none !important;
}
 .copy-raw:active {
  box-shadow: none !important;
}
.copy-raw:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.copy-raw i {
  pointer-events: none;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 99, 99, 0.3);
};
::-webkit-scrollbar-thumb:vertical {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 5px;
}
